.hero {
    padding: 200px 0;
    background-image: url('../images/bg-hero.jpg');
    background-color: rgba(47, 48, 58, 0.4);
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    @media screen and (max-width:480px){
        margin-top: 60px;
        min-width: 320px;
    }
    @media screen and (max-width:768px){
        padding: 118px 0;
    }

    &__little {
        @extend %base;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
        @media screen and (max-width:768px) {
            // @include fonts(44px, 900, 1.36, center, 2.64px, uppercase);
            font-size: 26px;
            line-height: 1.61;
            letter-spacing: 1.56px;
        }
    }
    
    &__btn {
        @media screen and (max-width:768px) {
            width:200px;
        }
        border: none;
        display: block;
        background-color: getcolor("hover");
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        @extend %base;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        width: 216px;
        height: 50px;
        margin: 0 auto;
    }
}



// -------------------- FEATURES --------------------
.features .inner-container{
    @media screen and (max-width:1199px) {
        max-width: 768px;
    }
    @media screen and (max-width:768px) {
        max-width: 480px;
    }
    @media screen and (max-width:480px) {
        min-width: 320px;
    }
}
.features {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:768px) {
        padding: 60px 0;
    }
    &-list {
        @media screen and (max-width:1199px) {
            @include flex($wrap:wrap);
            gap: 30px;
        }
        display: flex;
        justify-content: space-between;
        padding: 94px 0;
        // width: 1200px;
        margin: 0 auto;
    }

    &-sub {
        @media screen and (max-width:1199px) {
            width: calc((100% - 30px) / 2);
        }
        @media screen and (max-width:767px) {
            width: 100%;
        }
        width: 270px;
        height: 248px;
    }

    &__subtitle {
        @media screen and (max-width: 480px) {
            text-align: center;
        }
        @extend %base;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 30px;
        color: getcolor("header");
        margin-bottom: 10px;
    }
    
    &__p {
        @extend %base;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: getcolor("Hright");
    }
    

}
// -------------------- FEATURES --------------------


// -------------------- WORK --------------------
.work {
    margin-bottom: 94px;
    @media screen and (max-width: 1199px) {
        display: none;
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        /* 42:36 */
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: getcolor("header");
    }

    &-photo-img {
        display: flex;
        justify-content: space-between;
        margin: 50px auto 0;
        // width: 1200px;
    }
}
// -------------------- WORK --------------------


// -------------------- TEAM --------------------
.team .inner-container{
    @media screen  and (max-width:1199px){
        max-width: 768px;
    }
    @media screen  and (max-width:767px){
        max-width: 480px;
    }
    @media screen  and (max-width:480px){
        min-width: 320px;
    }
}
.team {
    
    display: flex;
    background: getcolor("white");
    padding: 94px 215px;
    

    @media screen  and (max-width:768px){
        padding: 60px 0;
    }

    &__title {
        @media screen  and (max-width:768px){
            @include fonts(28px, 700, normal, center, 0.84px);
            margin-bottom: 30px;
        }
        margin-bottom: 50px;
        @extend %base;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: getcolor("header");
    }

    &-ul {
        @media screen and (max-width:1199px){
            @include flex($wrap:wrap);
            gap: 30px;
        }
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__li {
        @media screen  and (max-width:768px){
            padding-bottom:24px;
        }
        background-color: white;
        padding-bottom: 42px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &-work-list {
        list-style: none;

    }

    &-list-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: getcolor("header");
        margin-bottom: 10px;
    }
    
    &-list-paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: getcolor("Hright");
    }
    
    &-social-media {
        margin-top: 16px;
        padding: 0px 32px;
        display: flex;
        justify-content: space-between;
    }

    &__photo{
        @media screen and (max-width:1199px){
            width: 354px;
            height: 374px;
        }
        @media screen and (max-width:767px){
            width: 450px;
            height: 460px;
        }
        @media screen and (max-width:480px){
            min-width: 290px;//320px-30px(padding 15+15)
            max-width: 450px;//450-30px
        }
        width: 270px;
        height: 260px;
        margin-bottom: 30px;
    }
}
//-------------------- TEAM --------------------


// -------------------- SVG --------------------
.svg {
    display: flex;
    margin: 0 auto;
    fill: getcolor("Ourclients");

    &-icons {
        fill: getcolor("Ourclients");
        height: 20px;
        width: 20px;
        display: flex;
    }

    &-contacts {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &:hover {
            width: 44px;
            display: flex;
            height: 44px;
            border-radius: 50%;
            background-color: getcolor("hover");
            transition: background-color 250ms;
        }
    
        &:hover .svg-icons {
            transition: fill 250ms;
            fill: #FFFFFF;
        }
    }
}
// -------------------- SVG --------------------









/* CLIENTS-LIST */

.clients {
    padding: 94px 0 94px 0;

    &__h2 {
        margin-bottom: 50px;
        @extend %base;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: getcolor("header");
    }
    
    &-ul {
        display: flex;
        justify-content: space-between;
    }
}

.width-list {
    width: 1170px;
    margin: 0 auto;
}











// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------

.bg-img {
    display: flex;
    background-image: url('../images/Icons/ant.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.bg-img-2 {
    display: flex;
    background-image: url('../images/Icons/clock.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.bg-img-3 {
    display: flex;
    background-image: url('../images/Icons/diag.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.bg-img-4 {
    display: flex;
    background-image: url('../images/Icons/astr.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.bg-color-img {
    padding: 25px 0 25px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------


.nav-list a:hover {
    color: getcolor("hover");
}

.team-list {
    list-style-type: none;
    /* в ul взяти людей */
}

.team-list-img {
    width: 270px;
    height: 260px;
}

.nav-list-text {
    text-decoration: none;
}

.nav-list-2 a {
    text-decoration: none;
    color: #fff;
}

















































