.main .inner-container{
    padding: 0;
    @media screen and (max-width:1199px){
        max-width: 768px;
    }
    @media screen and (max-width:767px){
        max-width: 480px;
    }
    @media screen and (max-width:480px){
        min-width: 320px;
    }
}

.main{
    padding: 94px 0;
    @media screen and (max-width:768px){
        padding: 60px 0;
    }
}

.button-ul{
    display: flex;
    justify-content: space-between;
    width: 575px;
    margin: 0 auto 50px;
    gap: 8px;
    @media screen and (max-width:1199px) {
        margin: 0 auto 30px;
    }
    @media screen and (max-width:767px) {
        margin: 0 auto 40px;
        max-width: 326px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.button-li{
    display: flex;
    margin: 0 auto;
    background: getcolor("white");
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 38px;

    &-li:hover{
        background-color: getcolor("hover");
    }
}

.filter{
    padding: 6px 22px;
    background: getcolor("white");
    border: none;
    border-radius: 4px;
    @extend %base;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: getcolor("header");

    &:hover, &:focus{
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        background-color: getcolor("hover");
        color: #F5F4FA;
        transition: background-color 250ms;
    }


}

.button-p{
    display: flex;
    justify-content: center;
    margin-top:6px;
    @extend %base;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: getcolor("header");
}

