.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }

.mobile-menu-li{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}

.mobile-menu-li:hover{
  color: getcolor("hover");
  transition: color 400ms;
}

.button-mob-menu{
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.mob-menu__close{
    width: 24px;
    height: 24px;
}

  .form-mob-menu{
    width: 100%;
    max-height: 100%;
    z-index: 100;
  }
  
  .div-mob-menu {
    margin: 0;
    position:fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 83px 48px 40px;
    background-color: #FFF;
    z-index: 99;
  }
  
.mobile-menu__telcontacts{
  color: #2196F3;
  font-family: 'Roboto';
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
}

.mobile-menu__mailcontacts{
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.mobile-menu-contacts:hover {
  fill: getcolor("hover");
  transition: fill 250ms;
}

.mobile-menu__media{
  color: #2196F3;
  font-family:'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

// @keyframes mobile-menu {
//   from {
//     /* pushes the sun down past the viewport */
//     transform: translateY(110vh);
//   }
//   to {
//     /* returns the sun to its default position */
//     transform: translateY(0);
//   }
// }