%base{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

%logo{
    display: block;
    font-family: gerFont('Raleway');
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    letter-spacing: 0.78px;
}

%button{
    display: block;
    background-color: getcolor("hover");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.96px;
    cursor: pointer;
}